@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Hola, Jessica</h1>
    <h2>Bienvenida a tu aplicación web de facturación</h2>
    <p>Esta es una aplicación para gestionar tus facturas y clientes. Podrás crear facturas tener un control de tus consultas, registrar pacientes, clientes y ajustar todo lo relacionado</p>
</div>
